:root {
    --cor-01: #8f4522;
    --cor-02: #cd7b4c;
    --cor-03: #ffa86e;
    --cor-04: #ffbd7f;
    --cor-05: #fede8e;
  }

html {
    padding: 0;
    height: 100%;
    margin: 0px;
    /*overflow: hidden;*/
    overflow-y: scroll;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0px;
}
section {
    flex: 1 1 auto;
    flex-direction: row;
    height: 70%;
    justify-content: top;
    justify-content: center;
}

main {
    flex-grow: 1;
    flex-basis: 100%;
    justify-content: center;
    text-align: center;
    padding: 20px;
    overflow: auto;
}

header {
    background-color: var(--cor-01);
    flex: 0 0 10%;
    color: white;
    justify-content: center;
    align-items: center;

}


/* NAVIGATION */
nav {
    background-color: var(--cor-02); /* ou transparent */
}
nav > ul {
    display: flex;
    width: auto;
    justify-content: space-between;
    justify-content: center;
    justify-content: space-evenly;
    padding-inline-start: 0px;
}
nav > ul > li {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
    display: inline-flex;

}
nav > ul > li > a {
    text-decoration: none;
    color: white;
    font-size: 12px;
}
nav > ul > li > a:hover {
    text-decoration: underline;
}



footer {
    background-color: var(--cor-01);
    flex: 0 0 40px;
    color: white;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

article {
    width: 96%;
    border-radius: 5px;
    background-color: var(--cor-03);
    align-items: left;
    justify-content: left;
    padding: 2%;
    margin-bottom: 2%; 
    text-align: justify;


    flex-direction: column;
    justify-content: top;
    justify-content: center;
}

article > article-row{
    padding: 1%;
    text-align: justify;
}

article > img {
    width: 100%;
}

aside {
    background-color: var(--cor-04);
    height: 100%;
    flex-grow: 0;
    flex-basis: 30%;
    justify-content: center;
    align-items: center;
    display: flex;
}

header,
section,
footer,
article {
    display: flex;
}

header,
footer {
    font-weight: bold;
}


/*
#offcanvas-left,
#offcanvas-right,
header,
body > section,
footer,
main article {
    display: flex;
    justify-content: center;
    font-weight: bold;
}

#offcanvas-left,
#offcanvas-right,
footer,
header,
main article {
    align-items: center;
}
*/